@import url('https://fonts.googleapis.com/css?family=Exo+2:400,700');
body {
    font-family: 'Exo 2', sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #eee;
}
html, body {
    height: 100%;
}
.navbar {
    background-color: #00bbff;
    font-size: 16px;
    margin: 0;
}
.navbar .glyphicon {
    font-size: 18px;
    top: 2px;
}
.navbar .dropdown .glyphicon {
    font-size: 14px;
}
.navbar .dropdown-menu span {
    display: block;
    padding: 3px 20px;
}
.navbar-nav>li>a {
    line-height: 30px;
}
.nav>li>a {
    padding: 10px 20px;
}
.navbar-brand {
    color: #fff !important;
    font-size: 24px;
    font-weight: 700;
    width: 215px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background-color: #fff;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.2);
}
.navbar .user-img {
    max-width: 25px;
    max-height: 25px;
}
.navbar .user-img-big {
    max-width: 100px;
    max-height: 100px;
    margin: 5px auto;
    border: 4px solid #fff;
    box-shadow: 0px 0px 5px 2px #ccc;
}
aside {
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 50px;
    min-height: 100%;
    width: 215px;
    background-color: #f2f2f2;
    border-right: 1px solid #ddd;
}
.sidebar-menu>li>a {
    display: block;
    padding: 20px 50px;
    font-size: 18px;
    border-bottom: 1px solid #ddd;
    color: #333;
    text-decoration: none;
}
.sidebar-menu>li>a:focus, .sidebar-menu>li>a:hover {
    background-color: #ddd;
}
.sidebar-menu>li.active {
    background-color: #fff;
    width: 215px;
}
.content {
    margin-left: 215px;
    min-height: 100%;
    background-color: #fff;
    padding: 70px 20px 20px;
}
.error-alert {
  padding: 10px;
  background-color: #ff9999;
  border: #ff6666 solid 1px;
  font-size: 16px;
}
.tac {text-align: center;}
.mb10 {margin-bottom: 10px;}
.settings td:last-child {
    width: 300px;
}
.header {
    font-size: 2em;
    margin-bottom: 5px;
}
.visits-table {
    margin-top: 10px;
    margin-bottom: 0;
}

/* Mobile Fix */
@media (max-width: 1023px) {
    .settings td:last-child {
        width: 200px;
    }
}
@media (max-width: 767px) {
    aside {
        display: none;
    }
    .content {
        margin-left: 0;
    }
    .dropdown-menu {
        padding: 0;
    }
    .navbar-nav {
        margin: 0px -15px;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #fff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a, .navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus, .navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover {
        color: #333;
        background-color: #efefef;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }
    .panel {
        overflow: auto;
    }
    .settings td:last-child {
        width: 150px;
    }
}