@import url(http://fonts.googleapis.com/css?family=Cuprum:400,400italic,700&subset=latin,cyrillic);
html, body {height: 100%;}
.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -55px;
}
.push {height: 55px;}
body {
 padding-top: 51px;
 background-color: #efefef;
}
h1, h2, h3, h4, h5, h6 ,p {margin:0px;}
.nav a {
 font-family: 'Cuprum', sans-serif;
 font-size: 16px;
 font-weight: bold;
}
@media (min-width: 768px) {
  .navbar-nav>li>a {
    padding: 15px 8px;
  }
}
.content {
 font-family: 'Cuprum', sans-serif;
 font-size: 16px;
 padding: 15px 0;
}

.content h2 {
 color: #393c3d;
 font-size: 24px;
}

.content p {
 font-size: 15px;
 margin-bottom: 4px;
}

.block {
 margin-bottom: 20px;
 padding: 5px;
 background-color: white;
 border: 1px solid #ccc;
}

.block hr {margin: 4px -5px;}

@media (max-width: 767px) {
    .block  img{display:none;}
}
.left{float: left;}
.right{float: right;}
.min {font-size: 12px; color: #ccc;}

footer {
 font-family: 'Cuprum', sans-serif;
 font-size: 16px;
 padding: 5px 0;
 background-color: #fff;
 border-top: 1px solid #dbdbdb;
}
footer .right{text-align:right;}
@media (max-width: 767px) {
  footer .left, footer .right {
    float: none;
  }
  footer .right{
    text-align:left;
    margin-top: 5px;
  }
}
.js_check {
 text-align: center;
 font-size: 20px;
 color: red;
 background-color: #f8f8f8;
}

.placeholder {
 height: 400px;
 background-repeat: no-repeat;
 background-size: 100%;
 border-bottom: 1px solid #dbdbdb;
 background: url(../images/1.jpg) 50% 15% / cover no-repeat;
}
@media (max-width: 767px) {
    .placeholder {height: 180px;}
    .placeholder .container {display:none;}
}

.placeholder .container {
 position: relative;
 top:276px;
}

.placeholder h1 {
 text-shadow: 0 0 10px #000;
 color: #fff;
 font-size: 4em;
 font-weight: bold;
}

.placeholder p {
 text-shadow: 0 0 10px #000;
 font-size: 2.3em;
 color: #fff;
}

.navigation{
 text-align: center;
 margin-bottom: 20px;
}
.navigation span{
 margin: 0px 2px;
 padding: 2px 8px;
 background-color: white;
 border: 1px solid #ccc;
}
.error-alert {
 padding: 10px;
 background-color: #ff9999;
 border: #ff6666 solid 1px;
 font-size: 16px;
}